* {
    margin: 0;
    padding: 0;
}



body {
    background-image: url(../img/Wallpaper.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 90%;
}

/* COULEUR DES ECRITURES : background-color: #db6803d4; */

